#liste li a {
    color:#04b3f3;
    font-size:15px;
}
.logo {
    margin-right:50px;
}
.sliderimage  p,h1,span{
    color:#000000;
    opacity:1;
}

.resim1 img{
    height:175px;
    width:350px;
}
.person div {
    
}
.person p {
    color:black;
    font-size:15px;
}
.turlar {
    color:black;
    text-align:center;
    border: solid;
    border-color:black;
    height:437px;
    width:349px;
}
.turlar p{
    text-align:left;
    margin:20px;
}
.turlar img{
    width:344px;
    margin-bottom:10px;
}
.person:hover img{
    transform:none;
}
.df {
    background-color:black;
}

.formfont{
    color:black;
    font-size:20px;
}
#ilandropdown {
    border-radius:10px;
    margin-left:20px;
    height: 30px;
    background-color:mediumpurple;
    
}
.icon-star{
    margin-top:10px;
    margin-bottom:10px;
}
.service-39381 img{
    height:233px;
    width:349px;
}